.menu {
  background-color: #fff;
  background-image: url(../images/background_menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 0;
  margin: 0 auto; /*not sure why background shifts and is not aligned like in brief can't figure it out*/
}

.menu__title {
  max-width: 780px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
  margin: 0 auto 24px;
}

.menu__subtitle {
  max-width: 780px;
  font-family: "Noto Serif", "Times New Roman", serif; /*even though i followed brief don't understand why word break is not comistent to brief*/
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  margin: 0 auto;
}

.menu__cards {
  margin: 100px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
}
