.nav {
  display: flex;
  align-content: baseline;
  justify-content: space-between;
  margin: 0;
}

.nav__logo {
  max-width: 105px;
  max-height: 39px;
  position: relative;
  left: -50px;
}

.nav__links {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 20px;
  justify-content: flex-end;
  list-style-type: none;
  font-weight: 500;
}

.nav__link {
  color: #000; /*is this the correct color i didn't see a specific call-out for this*/
  text-decoration: none;
  transition: opacity 0.5s ease;
}

.nav__link:hover {
  opacity: 50%;
}
