.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "inter", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  height: 800px;
  background-color: #fff;
  background-image: url(../images/background_header.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  align-content: baseline;
  justify-content: space-between;
}

.nav__logo {
  max-width: 105px;
  max-height: 39px;
  margin: 30px 0 0 30px;
}

.nav__links {
  display: flex;
  margin: 30px 80px 0 0;
  padding: 0;
  gap: 20px;
  justify-content: flex-end;
  list-style-type: none;
  font-weight: 500;
}

.nav__link {
  text-decoration: none;
}

.header__title {
  max-width: 729px;
  margin: 183px 0 28px 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-size: 60px;
  line-height: 72px;
  color: #3f96f3;
}

.header__span-accent {
  max-width: 729px;
  display: block;
  font-family: "inter", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  color: #000;
}

.header__description {
  max-width: 683px;
  margin-left: 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
}

.header__footer {
  margin: auto 80px 40px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.header__paragraph {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: "inter", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
}

.recipes {
  background-image: url(../images/background_recipes.svg);
  background-color: #0a2750;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.recipes__title {
  max-width: 580px;
  margin: 100px 0 24px 80px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  max-width: 438px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 80px 80px;
}

.recipes__videos {
  display: flex;
  margin: 0 auto 215px;
  gap: 40px;
  list-style-type: none;
  padding: 0;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
}

.recipes__video-caption {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
  margin: 24px 0 0;
}

.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px auto 0px;
}

.reservation__title {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 100px 0 80px;
}

.reservation__form {
  max-width: 385px;
}

.form__fieldset {
  width: 100%;
  border: none;
  display: flex;
  flex-direction: column;
}

.form__label {
  margin-bottom: 8px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  border-radius: 4px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 32px;
  padding: 15px 20px;
  border: 1px solid #000;
}

.form__input::placeholder {
  color: #838383;
}

.form__button {
  width: 100%;
  margin-bottom: 32px;
  padding: 20px 0;
  border-radius: 4px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #1878dc;
  transition: background-color 1s linear 1s;
  color: #fff;
}

.form__button:hover {
  background-color: #3f96f3;
}

.form__checkbox {
  border-radius: 2px;
  width: 20px;
  height: 20px;
  background-color: #1878dc;
  background-image: url(../images/check.svg);
  margin-right: 20px;
}

.form__checkbox-alignment {
  display: flex;
  margin-bottom: 120px;
}
