.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "inter", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  height: 800px;
  background-color: #fff;
  background-image: url(../images/background_header.svg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  align-content: baseline;
  justify-content: space-between;
}

.nav__logo {
  max-width: 105px;
  max-height: 39px;
  margin: 30px 0 0 30px;
}

.nav__links {
  display: flex;
  margin: 30px 80px 0 0;
  padding: 0;
  gap: 20px;
  justify-content: flex-end;
  list-style-type: none;
  font-style: normal;
  font-weight: 500;
}

.nav__link {
  text-decoration: none;
}

.header__title {
  max-width: 729px;
  margin: 183px 0 28px 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #3f96f3;
}

.header__span-accent {
  max-width: 729px;
  display: block;
  font-family: "inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  color: #000;
}

.header__description {
  max-width: 683px;
  margin-left: 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
}

.header__footer {
  margin: auto 80px 40px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.header__paragraph {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: "inter", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
}
